@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-text-primary font-sans antialiased;
    background-color: #000000;
    font-feature-settings: "rlig" 1, "calt" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Custom selection */
::selection {
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
